@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hemsida för att hantera olika typer av företag och subämnen om dessa som tex nu affärer.</h1>
    <p class="lead">This webbsite is a basic Webbsite to handle stores and companies.</p>

    <p class="lead">Function in this is create stores projects and add to companies. Google Maps is intregrated to the stores creation process to make it more usable</p>
    <p class="lead">Database is stored in a file for this project. Change string </p>
</div>